.mainpage
{
  background-color: rgb(50, 166, 233);
  font-style: italic;
  
}
.cardsdispaly button
{
  background-color: indigo;
}

.cardCandi
{
  font-size: x-large;
  font-weight: bold;
  color: cornflowerblue;
  margin-left: 25px;
  text-align: justify;
  

}

.navbar-brand
{
  color: white;
  font-weight: bold;
  
}
.title
{
  background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcs-bridgethegap.org%2Fimages%2Flogo.png&f=1&nofb=1);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 1350px;
  
}
.title1
{
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Finsights.dice.com%2Fwp-content%2Fuploads%2F2018%2F09%2FTech-Interviews-Tech-Pros-Dice-1.png&f=1&nofb=1);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 1350px;
}
.title1 button
{
  margin-left: 30px;
  margin-top: 30px;
}
.logo
{
  font-size: x-large;
  font-weight: bolder;
  font-size:30px ;
  color: rgb(68, 209, 33);
}
.title h1{
  
}
.row
{
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fnst.sky.it%2Fcontent%2Fdam%2Fstatic%2Fcontentimages%2Foriginal%2Fsezioni%2Ftg24%2Feconomia%2F2018%2F09%2F05%2Fjob-interview-tip.jpg&f=1&nofb=1);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 1350px;
}
.row button
{
  color: dodgerblue;
  font-weight: normal;
  font-size: 15px;
  margin-left: 20px;
  height: 30px;
  width: auto;
  background-color: floralwhite;
}
.mainform
{
  background-color: whitesmoke;
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2F95nybIi.jpg&f=1&nofb=1);
}
.mainform label
{
  display: inline-block;
  width: 140px;
  text-align: left;
  margin-left: 30px;
  font-weight: bold;
  

}
.cardCandi
{
  background-color: hotpink;
}
.mainpage h1{
  color: white;
}
.mainform button
{
  color:white;
  background-color: rgb(23, 71, 173);
  margin-left: 110px;
  background-image: url();
}